
#block-stajortak-main-menu ul{
    list-style: none;
    margin:0;
    padding:0;
}

#block-stajortak-main-menu ul li{
    float: left;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}


#block-stajortak-main-menu ul li a{
    text-decoration: none;
    color:white;
    
}
#block-stajortak-main-menu ul li:hover{
    background-color: gray;
    height: 50px;
}
#block-stajortak-main-menu ul li:hover a{
    color: white;
}
#block-stajortak-main-menu{
    height: 50px;
    background-color: rgb(22, 22, 22);
}
#block-stajortak-branding img{
    width: 20px;
    height: 20px;

}
a{
    text-decoration: none !important;
}
ul{
    list-style: none;
}

#block-stajortak-account-menu ul li{
    float:right;
    margin-left: 5px;
    padding: 10px;
}

#block-stajortak-powered{
    display: none;
}

.views-row h2{
    color: #2222;

}

.bigplpe-click i{
    font-size: 50px;
    color: #222;
    text-align: center;
    /* float: inherit; */
    position: fixed;
    z-index: 1;
    float: right;
    padding: 30px;
}

.lang-en{
    background-color: blue;
}

.lang-tr{
    background-color: red;
}

.slider_bg img{
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.bg-color{
    position: absolute;
    bottom: 0;
    background-color: #000000a8;
    height: 100%;
    width: 100%;
}
.icerik {
    position: absolute;
    bottom: 0;
    height: 100%;
    padding: 12% 30px 0px 30px;
}

.slider_title a{
    font-size: 30px;
}
.slider_title a:hover{
    color:white;
}
.slider_aciklama p{
    font-size: 12px;
    padding-right: 30%;
}
.slider_aciklama{
    margin-top: 10px;

}
.slider_link a{
    color: rgb(0, 0, 0);
    box-shadow: none;
    background-color: white;

    
    font-size: 10px;
    padding: 10px;

    border-radius: 20px ;
}
.slider_link a:hover{
    background-color: transparent;
    color: white;
    box-shadow: 3px 3px 4px #000;
}

.slider_link{
    margin-top: 30px;
    
}