body{
    font-family: 'Lato', sans-serif;
    color: #2d2d2d;
}
a {
    text-decoration: none !important;
}
li {
    list-style: none;
}


header{
    border-bottom: 1px #e3e3e3 solid;
    position: relative;
    height: 70px;
}
#block-doom-main-menu ul{
    right: 0px;
    position:absolute;
 
}
#block-doom-main-menu li a{
    color:#2d2d2d;
    padding: 28px 16px;
   
}



#block-doom-main-menu li a:hover{
    background-color:#6e60fe;
    color:white;
}

#block-doom-main-menu li:active{
    background-color:#6e60fe;
    color:white;
} 

#block-doom-main-menu li{
    padding-top: 20px;
    float: left;
}

#block-doom-account-menu {
    display: inline-block;
}
#block-doom-branding {
    display: inline-block;
}

#block-doom-branding img {
    width: 100%;
    height: 50px;
    padding-left: 50px;
    margin-top: 10px;
}


.slider-bg{
    background-image: url("../img/slider-bg.png");
    background-size: cover;
    height:  auto;

}

.home p .bold{
    font-weight: bold;
}
.home .header-text{
    margin-top: 25%;
    font-size: 40px;
}
.home .body-text{
    margin-bottom: 0;
}
.doom{
    font-size: 80px;
    color:#6e60fe;
}
.home p .think{
    font-weight:400;
    color:grey
}
.home .maske{
position: relative;
}
.home .maske img{

    margin-top:0%;
    -webkit-mask-image: url("../img/maske.png");
    -webkit-mask-size:cover;
    -webkit-mask-repeat: no-repeat;
    z-index: 2;


}


.owl-carousel .owl-item img {
    height: 100% !important;
}

.home .grand {
    position:absolute;
    width: 100%;
    height: 0%;
    padding-top: 10%;
    padding-left: 3%;
    display: none ;
}


/* home end */

/*About*/

#about{
    height: 100%;
    padding-bottom: 50px;
}
.up-header{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 6%;
    text-align: center;
}

.down-header{
    font-size: 30px;
    text-align: center;

}
#about .body p{
    padding: 50px 20%;
    color:grey;

}

#about .body .link{
    position: relative;
}
#about .body .link a ,.ico{
    font-weight:900;
    text-decoration: none;
    background: linear-gradient(to right,rgb(0, 247, 255),#6e60fe);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text ;


}

#about .body .link .fa-caret-right{
    position: absolute;
    margin-left:10px;
    margin-top: 4px;
    width: 25px;
    height: 25px;
}

#about .body .link .fa-caret-left{
    position: absolute;
    margin-left:10px;
    margin-top: 4px;
    width: 25px;
    height: 25px;
    display: none;
}

#about .body .link:hover .fa-caret-left{
    display: inline;

}

#about .body .link:hover .fa-caret-right{
   display: none;
}

#about .body .link:hover a ,.ico{
    background: linear-gradient(to left,rgb(0, 247, 255),#6e60fe);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text ;
}

/*Services*/
.services{
    margin: 8% 0;
}
.services .number{
    font-weight: bold;
    font-size: 50px;
}
.services .header{
    font-weight: bold;
    font-size: 20px;


}

.services .header a{
    color:#2d2d2d;
    cursor:default;


}

.services hr{
    height: 2px;
    background-color: #2d2d2d;
    opacity: 100;
    width: 85px;
}

.services .comment{
    color:gray;
    line-height: 30px;
}



.owl-prev{
    position: absolute;
    top: 50%;
    border: none;
    margin-left: 10px;
    z-index: 10000;
}
.owl-next{
    position: absolute;
    top: 50%;
    right: 0;
    border: none;
    margin-right: 10px;
}
.owl-prev, .owl-next{

    background-color: rgb(184, 184, 184) !important;
    border-radius: 0px !important;
    color:white !important
}
.owl-nav span{
    padding: 5px !important;
}
.owl-prev:hover, .owl-next:hover{

    background-color: #6e60fe !important;
}

/* our */
#our{
    height: 100vh;
    background-color: #e9f8ff;
}
#our-title{
    background-color: #e9f8ff;
    height: 100%;
}
#our .comment{
    margin-top: 15%;
}
#our .circul img{
    border-radius: 50%;
    width: 50px;
    height: 50px !important;
    object-fit: cover;
    margin-left: 10px;
}
#our .circul{
    padding-left: 10%;
}
#our .comment-header{
    font-weight: bold;
    font-size: 25px;
    padding-left: 10%;
}

#our .body{
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 10%;
    text-align: left;
    color:grey;
}
#our .user{
    padding-left: 10%;
}
#our .user p{
    text-align: left;
}
#our .user .user-name{
    font-weight: bold;
    color:#6e60fe;


}

#our .user .user-departman{
    color:grey;

}

#our .our-right{
    position: relative;
    padding-right: 40%;
}
#our .our-right .image{
    margin-top: 80px;
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: cover;
    z-index: 1;

}

#our .kare{
    position: absolute;
    margin-top: 80px;
    width: 400px;
    height: 400px;
    border: 5px white solid ;
    z-index: 2;
    margin: 110px 0px 0px 70px;
}

#our .owl-next{
    display: none;
}

#our .owl-prev{
    display: none;
}


#our .owl-theme .owl-dots {
    
    position: absolute;
    padding-left: 10%;
} 
#our .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #6e60fe !important;
}
#our .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d600 !important;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
    border: 2px #6e60fe solid !important;
}




/* our-end */


/*porfolio*/


#portfolio{
    height: 100%;
    padding-bottom: 5%;
     background: linear-gradient(to right,#7acaff,#9b75ff);
}

#portfolio .box{
    margin-top:50px;
    background-color: white;
    margin-left: 15px;
    padding-left: 25px;
}

#portfolio  .col-md-4{
    width: 30% !important;
}

#portfolio .box .header{
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
    padding-right: 10px;
}
#portfolio .box .header a{
    color: #2d2d2d;
}
#portfolio .box .header a:hover{
    color: #7acaff;
}
#portfolio .box .body{

    font-size: 12px;
    color: gray;
    font-weight:400;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 24px;
    padding-left: 10px;
}
#portfolio .box .more {

    margin-bottom:20px ;
    font-size:15px ;
}
#portfolio .box .more a{

    font-size: 10px;
    font-weight:bold;
    color:#2d2d2d;
    text-decoration: none;
}
#portfolio .box .more a:hover{
    color: #7acaff;
}
#portfolio .box .image{
   padding-right: 0;

}
#portfolio .box img{
    width: 80%;
    float: right;

}

#portfolio .box:hover{
    box-shadow: 0px 10px 50px #2d2d2d71;
}

/*grafil*/

#grafik, #blog{
    background-color: white ;
    padding-top: 5%;
    padding-bottom: 5%;
}
.graphic-row{
    margin-top: 50px;
}
.graphic-row .graphic{
    width: 100px;
    height: 100px;
    padding-left: 30px;

}
.graphic-row .graphic img{
    object-fit: fill;
    width: 100px;
    height: 100px;

}
.graphic-row .value{
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}
.graphic-row .explain{
    text-align: center;
    color:gray;
}


#blog .blog-item{
    margin-top: 20px;
}
#blog  .image img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    padding-right: 30px;
}
#blog  .info {
    padding-left: 20px;
}
#blog  .info p{
    color:gray;
    font-size: 12px;
    font-weight: 400;

}

#blog  .info .title a{
  font-size: 24px;
  font-weight: bold;
    color:black;
}

#blog  .info .content{
    margin-top: 10px;
    color:gray;

}

#blog  .katagori{
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #f1f6f9;
}
#blog  .katagori-name{
    padding: 20px 30px;
    position: absolute;
    color:gray;
    font-size: 12px;
}
#blog  .icon{
    position: absolute;
    background-color: #6170ff;
    width: 70px;
    height: 40px;
    margin: 10px 0px 0px 70%;
    color:white;



}
#blog  .icon i{
    padding: 10px 0px 10px 10px;
}
#blog  .icon .num{
    margin-left: 10px;

}

#contact{
    height: 400px;
    background-color: #f1f6f9;
    padding-top: 2% ;
}
#form-title{

    background-color: #f1f6f9;

}
#contact .mail{
    margin-top:50px;
}

#contact .mail .form{
    font-style: italic;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ffffff;
}
#contact .mail .submit{
    position: relative;
}
#contact .mail .submit .fa-caret-right{
    position: absolute;
    float: right;
    margin-top: 10px;
    width: 25px;
    height: 25px;
}

#contact .mail .submit .fa-caret-left{
    position: absolute;
    float: right;
    margin-top: 10px;
    width: 25px;
    height: 25px;
    display: none;
}


#contact .mail .button{
    position: absolute;
    color:white;
    padding: .5rem .75rem;
    height: 40px;
    width: 120px;
    font-size: 12px;
    background: linear-gradient(to right,#7acaff,#9b75ff);
    border: 0px solid black;
}

#contact .mail .icon{
    position: absolute;
    margin: 12px 0px 0px 100px;
    color: white;
}

#contact .info-bottom{
    color:gray;
    font-size: 10px;
    font-style: italic;
}

footer{
    color:#a5add2;
    padding-top: 80px;
    background: linear-gradient(to right,#02629e,#570aba);
}
footer .summary{

    margin-top:50px
}
footer .title{
    color:#fcffff;
    margin-bottom: 30px;

}
footer ul{
    list-style-type: none;
    padding: 0;
}
footer ul li{

    margin-bottom: 15px;
}
footer a{
    color:#a5add2;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Lato', sans-serif;

}
footer a:hover{
    color:white;
}
footer i{
    color:#fcffff;
}

footer .bottom{
    bottom: 0;
    height: 50px;
    width: 100%;
    padding-bottom: 1%;
    padding-right: 10px;
    background: linear-gradient(to right,#182559,#2f0e5f);

}
footer .bottom ul{
    list-style: none;
}
footer .bottom ul li {

    float:right;
    margin-top: 10px;
    margin-left: 30px;

}
footer .bottom a{
    color:white;

}
footer .bottom a:hover{
    color:#7acaff;

}
footer .footer_six{
    padding: 0;
}
footer .footer_six ul{
padding-right: 10%;
}

.content-img img{
/* 
    margin-top:0%;
    -webkit-mask-image: url("../img/maske.png");
    -webkit-mask-size:cover;
    -webkit-mask-repeat: no-repeat;
    z-index: 2; */



}


.content-img img{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    object-fit: contain;
}
.content-aciklama{
    padding: 10%;

}
.content-aciklama p{
    text-align: center;
    font-size: 24px;
}

.content-baslik {
    margin-top: 5%;
}
.content-baslik p{
    font-size: 32px;
    font-style: normal;
    text-align: center;
}

.author{
    text-align: center;
    color:rgb(236, 236, 236);
    
}
.author p{
    display: inline-block;
    padding: 10px;
    background: linear-gradient(to right,#02629e,#570aba);
    border-radius: 10px;
}

.author p a{
    color: rgba(236, 236, 236, 0.678);
}
.content-katagori, .content-yazar{
    background: linear-gradient(to right,#7acaff,#9b75ff);
    display: inline-block;

    border-radius: 10px;
    position:absolute;

}
.content-yazar{
}
.content-katagori{
    right: 0;
}
.content-katagori:hover, .content-yazar:hover{
    background: linear-gradient(to right,#02629e,#570aba);

    display: inline-block;

    border-radius: 10px;

}
.content-katagori a,.content-yazar a{
    color: white;
    padding: 50px;


}
.content-katagori:hover a,.content-yazar:hover a{
    color: white;
}

.content-blog{
    position: relative;
}
#block-contactblock{
    height: 400px;
    background-color: #f1f6f9;
}

#contact-message-feedback-form{
    padding-top: 10%;
}
.form-btn{
    display: inline-block;
    font-weight: 400;
    width: 15% !important;
    line-height: 1.5;
    height: 10% !important;
    border: none !important; 
    color:white;
    padding: .5rem .75rem;
    height: 30px;
    width: 50%;
    font-size: 12px;
    border-radius: 0rem !important;
    background: linear-gradient(to right,#7acaff,#9b75ff);
    margin-top: 0.5% !important;
}
