{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
      'item',
      'item-'~ loop.index
    ]
  %}
{#  
style="background-color:#c65f5f;opacity:0.52;" #}
{#  
style="background-color:#c65f5f 0.52;" #}
  <div{{ row.attributes.addClass(row_classes) }}>
    {% 
     set foo = row.content|render|replace({'styled':"style", 'background-color=':"background-color:"})
     set opacity = foo 
     opacity|split('style="') 
     opacity = opacity[1] 
     opacity|split(' ') 
     opacity = opacity[1]
     opacity|split(';') 
     opacity = opacity[0]
     set op = 'opasity: '~ opacity
     foo|replace({opacity:op})
    %}
    {{- foo|raw  -}}

  </div>

{% endfor %}
